/* Content:

1. General CSS reset
2. Custom variables
3. Cause 1rem to equal 10px for easy math.
4. Core body defaults
5. Hero section
6. Hamburger menu properties
7. Transform__content & audience__content section
8. Design section & Photography section
9. Testimonials section
10. Images section
11. Footer
12. Attribution
13. Media queries */


/* 1. General CSS reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* 2. Custom variables */

:root {
    --font-family1: 'Barlow', sans-serif;
    --font-family2: 'Fraunces', serif;

    --primary-softred: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-darkdesatcyan: hsl(167, 40%, 24%);
    --primary-darkblue: hsl(198, 62%, 26%);
    --primary-darkmodcyan: hsl(168, 34%, 41%);

    --neutral-darkdesatblue: hsl(212, 27%, 19%);
    --neutral-vdarkgrayblue: hsl(213, 9%, 39%);
    --neutral-darkgrayblue: hsl(232, 10%, 55%);
    --neutral-grayblue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);

    --secondary-yellow: rgba(248, 248, 50, 0.5);
    --secondary-pink: rgba(255, 192, 203, 0.48);
    --secondary-hoverbtn: #6fcfff;
}

/* 3. Cause 1rem to equal 10px for easy math. */
html { 
    font-size: 62.5%;
}

/* 4. Core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.8rem;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

/* 5. Hero section */

.hero {
    background: url(images/mobile/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;   
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
    margin-block: 4rem;
}

/* 6. Hamburger menu properties */

.bubble {
    position: absolute;
    background: var(--neutral-white);
    color: var(--neutral-vdarkgrayblue);
    font-family: var(--font-family1);
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    z-index: 999;
    width: clamp(250px, 85vw, 550px);
    height: 306px;
    border-radius: 0px;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 30px 29px;
    border-color: transparent transparent var(--neutral-white) transparent;
    top: -30px;
    left: 94%;
    margin-left: -14.5px;
}

.bubble li {
    margin-block-start: .8rem;
}

.bubble li a {
    text-decoration: none;
    color: var(--neutral-vdarkgrayblue);
}

.bubble li a:hover {
    color: var(--neutral-darkgrayblue);
}

.bubble li:last-child {
    display: inline-block;
    padding-inline: 3.5rem;
    padding-block: .1rem;
    font-family: var(--font-family2);
    font-size: 1.7rem;
    font-weight: 900;
    background-color: var(--primary-yellow);
    border-radius: 5rem;
} 

.hero__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    font-family: var(--font-family2);
    font-weight: 900;
    font-size: 2.1em;
    color: var(--neutral-white);
    text-align: center;
    letter-spacing: .7rem;
    line-height: 1.3;
    margin-block-start: 3.7rem;
}

.hero__icon {
    position: absolute;
    top: 35rem; 
    color: var(--neutral-white);
  }

/* 7. Transform__content & audience__content section */

.transform__content, .audience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transform__title h2, .content__title h2, .design__title h2, .photography__title h2 {
    color: var(--neutral-darkdesatblue);
    font-family: var(--font-family2);
    font-weight: 900;
    text-align: center;
    margin-inline: 3.3rem;
    margin-block-start: 4.6rem;
    font-size: 3.5rem;
}

.transform__text p, .content__text p, .design__text p, .photography__text p {
    color: var(--neutral-darkgrayblue);
    font-family: var(--font-family1);
    font-size: 1.9rem;
    text-align: center;
    margin-inline: 2.2rem;
    margin-block-start: 2.5rem;
    margin-block-end: 6rem;
  
}

.transform__text p:last-of-type, .content__text p:last-of-type {
    position: relative;
    font-family: var(--font-family2);
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--neutral-darkdesatblue);
}

.transform__text p:last-of-type:hover:after {
    content: ""; 
    position: absolute;
    top: 85%;
    bottom: 150px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 12rem;
    height: 9px; 
    background-color: var(--secondary-yellow);
    border-radius: 10px;
    z-index: -1;
}

  .content__text p:last-of-type:hover:after {
    content: ""; 
    position: absolute;
    top: 85%;
    bottom: 150px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 12rem;
    height: 9px;
    background-color: var(--secondary-pink);
    border-radius: 10px;
    z-index: -1;
  }

/* 8. Design section & Photography section */

.design, .photography {
     position: relative;
 }

.design__content, .photography__content {
    position: absolute;
    margin-block-end: 6rem;
    top: 50%;
}


/* 9. Testimonials section */

.testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 4.6rem; 
}

.testimonial-section__title {
    font-family: var(--font-family2);
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--neutral-grayblue);
    letter-spacing: .4rem;
    padding: 1rem;
}

.testimonial-wrapper {
    padding: 5rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.testimonial img {
    border-radius: 50%;
}

.testimonial p {
    font-family: var(--font-family1);
    font-size: 1.8rem;
    color: var(--neutral-darkgrayblue);
    padding: 2.5rem;
}

.testimonial h3 {
    font-family: var(--font-family2);
    font-weight: 900;
    color: var(--neutral-darkdesatblue);
}

p.testimonial-occupation {
    color: var(--neutral-grayblue);
    font-size: 1.6rem;
    margin-block-start: .5rem;
    margin-block-end: 2rem;
    padding-block-start: .1rem;
}

/* 10. Images section */

/* this is a subgrid! */
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* 11. Footer */

.footer {
    background-color: hsla(168, 34%, 41%, 0.647);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h2 {
    color: var(--primary-darkdesatcyan);
    font-family: var(--font-family2);
    font-weight: 900;
    font-size: 3.5rem;
    margin-block-start: 4.6rem;
    margin-block-end: 3rem;
  }

.links {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.links a {
    text-decoration: none;
    font-family: var(--font-family1);
    font-size: 1.9rem;
    color: var(--primary-darkmodcyan);
}

.links a:hover {
    color: var(--neutral-white);
    transition: all ease 0.3s;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-block-start: 5rem;
    margin-block-end: 8rem;
}

.social svg:hover path {
    fill: var(--neutral-white);
    transition: all ease 0.3s;
}

.hidden {
    display: none;
}

/* 12. Attribution */

.attribution { 
    position: absolute;
    font-size: 1.5rem; 
    text-align: center;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 3rem;
    color: rgb(80, 65, 65);
}

.attribution a { 
    color: hsl(228, 45%, 44%); }


/* 13. Media queries */

@media (width > 750px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;    
        grid-template-rows:auto;   
    }

    .hero {
        grid-column: 1 /span 2;
        background: url(images/desktop/image-header.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100vh;   
    }

    .menu img {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        font-family: var(--font-family1);
        font-size: 1.7rem;
    }

    .navbar li a {
        text-decoration: none;
        color: var(--neutral-white);
    }

    .navbar li:last-of-type a {
        padding-inline: 2.5rem;
        padding-block: 2rem;
        font-family: var(--font-family2);
        font-weight: 900;
        color: var(--neutral-vdarkgrayblue);
        background-color: var(--neutral-white);
        border-radius: 50px;
    }

    .navbar li:last-of-type a:hover {
        color: var(--neutral-white);
        background-color: var(--secondary-hoverbtn);
    }

    .bubble {
        display: none;
    }

    .transform__image {
        grid-row: 2;
        grid-column: 2;
      }

    .transform__content {
        grid-row: 2;
        grid-column: 1;
    }

    .transform__text {
        grid-row: 2;
        grid-column: 2;
      }

      .testimonial-section {
        grid-column: 1 /span 2;
      }

      .testimonial-wrapper {
        display: flex;
        flex-direction: row;
      }

      .images {
        display: grid;
        grid-column: 1 /span 2;
        grid-template-columns: repeat(4, 1fr);
      }

      .footer {
        grid-column: 1 /span 2;
      }
}

@media (751px <= width <= 1016px) {
 .transform__image, .audience__image {
    display: flex;
    align-items: center;
 }

 .design__content, .photography__content {
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
 }

 .design__text p, .photography__text p {
    font-size: 1.6rem;
 }
  }


